
h1, h2, h3, h4, h5 {
    font-family: 'Noto Sans', sans-serif;
    color: #333E26;
}

p, ul, li {
    font-family: 'Noto Sans', sans-serif;
    color: #656155;
}

@font-face {
    font-family: 'Radnick';
    src: url('fonts/Radnick.otf') format('opentype'); 
}

header {
    text-align: center; 
    padding: 4rem 0 4rem 0; 
    background-image: url('assets/images/spices-1.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}



header img{
width:100%;
height: auto;
max-width: 50rem;

}

header h1 {
    font-family: Radnick;
    font-size: 7rem;
    color: #F8F4E9;
    text-align: center;
}


header h2 {
    font-size: 5rem;
    color: #F8F4E9;
    text-align: center;

}
header h3 {
    font-size: 3rem;
    color: #862c2c;
    text-align: center;

}


body {
    font-size: 16px; 
    background-color: #F8F4E9;
    padding: 2rem;
}


a {
    color: #A33332;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}


.section {
    padding: 2rem;
}

.link {
    padding: 2rem;
}

.section h2 {
    font-family: Radnick;
}

.personal {

    background: #333e261c;
    padding:5rem;
}