/* Code for nav bar: https://www.codingnepalweb.com/fullscreen-overlay-navigation-menu-bar-html-css*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
font: 70px;
font-family: 'Oswald';
}
 h2{
font-size: 60px;
font-family: 'Oswald';
 }
 h3{
    font-size: 40px;
    font-family: 'Oswald';
     }

h4{
font-size: 30px;
font-family: 'Oswald';

}

body{
    font-size: 25px;
font-family: 'lora';
    margin: 0;
    color: #ffffff;
    background: linear-gradient(to bottom, #97b2df, #092147);

}







.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg, #092147, #315da2);
   /* background: linear-gradient(375deg, #1cc7d0, #2ede98);
    */
   /* clip-path: circle(25px at calc(0% + 45px) 45px);
    */
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}
#active:checked ~ .wrapper {
    clip-path: circle(75%);
}
.menu-btn {
    position: absolute;
    z-index: 2;
    right: 15px;
   /* left: 20px?;
    */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
   /*lines on menu bar*/
    color: #fff;
    cursor: pointer;
    background: linear-gradient(-135deg, #ffffff, #092147);
   /* background: linear-gradient(375deg, #1cc7d0, #2ede98);
    */
    transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn {
    background: #fff;
    color: #ffa500;
}
#active:checked ~ .menu-btn i:before {
    content: "\f00d";
}
.wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
   /* Make sure the width is 100% for proper centering */
    ;
}
.wrapper ul li {
    margin: 15px 0;
}
.wrapper ul li a {
    color: none;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
    display: grid;
   /* Make the anchor a block-level element for proper centering */
    width: 100%;
   /* Ensure the anchor takes the full width */
    ;
}
.wrapper ul li a:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after {
    transform: scaleY(1);
}
.wrapper ul li a:hover {
    color: #ffa500;
}
input[type="checkbox"] {
    display: none;
}

.full-landing-image {
    width: 100%;
    height: 450px;
    background: url("https://i.postimg.cc/J07vSC9q/hero-background.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #092147;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.menu-bar {
    text-align: center;
    flex: auto;
}
.menu-bar li {
    text-align: center;
}
.menu-bar ul {
    list-style: none;
    object-position: center;
    display: contents;
    padding: 20%;
    text-align: center;
}
#navlist {
    display: flex;
    list-style: none;
}
#navlist li {
    margin-right: 20px;
}
.logo {
    flex: 1;
    align-items: center;
}
.logo img {
    max-height: 50px;
}
.clock-location {
    flex: 1;
}
.clock-location img {
    max-height: 30px;
   /* Set a max height for the clock image */
    ;
}
/* Hero Image Styles */
.hero-image {
    height: 450px;
    width: 100%;
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 0;
}
.hero-image-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(images/homepage/hero-image-2-hp.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0;
    margin: 0;
}
.hero-image-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(images/homepage/turtle-diver.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0;
    margin: 0;
}





.hero-image-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(images/homepage/multiple-divers.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0;
    margin: 0;
}



.hero-image-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(images/green-coral.jpg);
    height: 225px;
    width: 100%;
    background-size: cover;
    position: relative;
    padding: 0;
    margin: 0;
    background-size: cover;
}
.hero-image-7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(images/discover-scuba/pool-diving.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center -250px;
   /* Adjust this value to move the background down */
    position: relative;
    padding: 0;
    margin: 0;
}
.hero-image-8 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(images/homepage/pool-dive.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0;
    margin: 0;
}
.hero-image-9 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(images/open-water/above-shot.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center -300px;
    position: relative;
    padding: 0;
    margin: 0;
}
.hero-image-10 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(images/open-water/highlight.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center -180px;
    position: relative;
    padding: 0;
    margin: 0;
}
.hero-image-11 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(images/advanced/scubadiver-advanced.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center 10px;
    position: relative;
    padding: 0;
    margin: 0;
}
.hero-image-12 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(images/advanced/jumping-into-water.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0;
    margin: 0;
}
.hero-image-13 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(images/rescue/scubadiving-rescue.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0;
    margin: 0;
}
.hero-image-14 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(images/rescue/flag.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0;
    margin: 0;
}
.hero-image-15 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(images/rescue/diver-2.0.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: 0 -250px;
    position: relative;
    padding: 0;
    margin: 0;
}
.hero-image-16 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(images/divemaster/mask-bubbles.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: 0 -25px;
    position: relative;
    padding: 0;
    margin: 0;
}
.hero-image-17 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(images/divemaster/yellow-diver.jpg);
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: 0 -25px;
    position: relative;
    padding: 0;
    margin: 0;
}
.hero-image-18 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),url(images/divemaster/scubadiving-master.jpg);
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 0;
    margin: 0;
}
.hero-text {
    font-family: 'Oswald';
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.635);
    font-size: 60px;
}
/* Section One Styles */
.section-one, .section-two, .section-three, .section-four, .section-five {
    padding: 20px;
    text-align: center;
    list-style:none;
    padding: 10%;
    margin: 0px 200px 0px 200px;
    text-decoration: none;
}
.intro-title {
    font-family: 'Lora';;
}
.section-two ul {
    list-style: none;
}
/* Class Image Slideshow Styles */
.class-image-slideshow {
    justify-content: center;
    display: inline;
}
.slider-container img {
    height: 400px;
    width: auto;
    margin: 0 auto;
    justify-content: center;
}
.slider-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.slider-text {
    color: white;
    font-family: 'Lora';;
    font-size: 30px;
    text-align: center;
    margin: 20px 0;
}
.slider-container a {
    text-decoration: none;
}
.slick-slider {
    width: 100%;
    margin: 20px 0;
    justify-content: center;
}
/* Change the layout of slider arrows to flex */
.slider-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   /* Add some space between the arrows and the slideshow */
    ;
}
.slick-prev, .slick-next {
    font-size: 30px;
    line-height: 1;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 10px;
   /* Adjust the margin between the arrows */
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-arrows :hover {
    background-color: #ffa500;
}
.slick-prev {
    margin-right: 10px;
}
/* Additional styles to ensure proper positioning */
.slick-prev:before, .slick-next:before {
    display: none;
   /* Hide the default arrow content */
    ;
}
.paragraph-text{
    list-style: none;
}
/* Section Three Styles */
.section-three {
    padding: 20px;
    text-align: center;
    padding: 5%;
}
/* Travel Boxes Styles */
.travel-boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.travel-box {
    text-align: center;
}
.travel-box img {
    width: 200px;
    height: 150px;
    display: block;
    margin: 0 auto;
    background-size: cover;
}
.travel-box h3 {
    font-family: 'Oswald';
    color: #ffffff;
    margin-top: 10px;
}
/* Image Gallery Styles */
.image-gallery h2 {
    font-family: 'Lora';
    text-align: center;
    padding-bottom: -100px;
    padding-top: 100px;
}
/* Section Two Styles */
.section-two {
    padding: 20px;
    text-align: center;
    padding: 5%;
}



.course-info-open-water{
text-align: left;
word-spacing: 30%;


}

/* Hero Image 4 Styles */
/* Section Five Styles */
.section-five {
    margin-left: 30%;
    margin-right: 30%;
}
/* Image Gallery Styles */
.image-gallery {
    margin-left: 10%;
    margin-right: 10%;
}
/* Row Styles */
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
/* Column Styles */
.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    justify-content: center;
}
.column img {
    vertical-align: middle;
    padding-top: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
/* Responsive Layout Styles */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
   }
}
/* Video Section Styles */
.section-hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    width: 100%;
}
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.content {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    box-sizing: border-box;
}
.columns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.column-left, .column-right {
    flex-basis: 50%;
    color: white;
}
.column-left {
    padding-right: 50px;
   /* Add some spacing on the right */
}
/* Adjust the font family and placeholder text */
.column-left h1, .column-left h2, .column-left h4 {
    font-family: 'Oswald';
    margin-bottom: 20px;
   /* Add more spacing between elements */
    text-align: right;
}
.column-left h2 {
    font-size: 25px;
    font-family: 'Lora';
    font-weight: 100;
    letter-spacing: 10%;
}

#lname::placeholder {
   /* Change the placeholder text for the Last Name input */
    content: "Email";
}
@media screen and (max-width: 800px) {
    .columns-container {
        flex-direction: column;
   }
    .column-left, .column-right {
        flex-basis: 100%;
        margin-bottom: 20px;
        text-align: center;
        padding: 0;
   }
}
.column-right text {
    font-family: 'Oswald';
}
input[type="text"], textarea {
    font-family: 'Oswald';
    letter-spacing: 1px;
    width: 200%;
   /* Adjusted width to 100% */
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Style the submit button */
.button {
    width: 200px;
   /* Set a fixed width for all buttons */
    padding: 15px 0;
   /* Adjust padding for better appearance */
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #97b2df;
    color: white;
    margin-bottom: 10px;
    text-align: center;
   /* Center the text within the button */
    ;
}
.button:hover {
    background-color: #ffa500;
}
/* Container styling for the form */
.container {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
   /* Add some top margin to separate from the hero content */
    ;
}
.page-bottom {
    display: flex;
}
.page-bottom-left-column, .page-bottom-right-column {
    background-color: transparent;
    color: white;
    flex: 1;
   /* Equal width for both columns */
    margin: 10px;
   /* Add some margin between columns */
    ;
}
.page-bottom-left-column p {
    font-family: 'Lora';
    font-size: 20px;
    text-align: right;
    color: rgba(255, 255, 255, 0.171);
}
.page-bottom-right-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.button {
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #000842;
    color: white;
    margin-bottom: 10px;
}
.button:hover {
    background-color: #ffa500;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    object-fit: cover;
}
.zoom {
    padding: 15px;
    transition: transform 0.2s;
    width: 20%;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
}
.zoom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 1200px) {
    .zoom {
        width: calc(33.333% - 20px);
        height: auto;
   }
}
.zoom:hover {
    transform: scale(1.5);
   /* (150% zoom) */
    ;
}
/*help on this one- ends up putting one image below when transitioning screen ize*/
@media screen and (max-width: 800px) {
    .zoom {
        width: calc(50% - 20px);
        max-width: none;
       /* Remove max-width for smaller screens */
        height: auto;
   }
}
@media only screen and (max-width: 620px) {
   /* For mobile phones: */
    .hero-text, .homepage, .nav, .section-one, .section-five {
        width: 100%;
   }
}
@media only screen and (max-width: 620px) {
    .wrapper ul li a {
        font-size: 18px;
       /* Adjust the font size for smaller screens */
   }
}
@media only screen and (max-width: 620px) {
    .wrapper ul li a {
        max-width: 150px;
       /* Set a maximum width for the navigation items */
   }
}
@media only screen and (max-width: 620px) {
    .wrapper ul li {
        margin: 10px 0;
       /* Adjust the margin for smaller screens */
   }
}
@media only screen and (max-width: 620px) {
    .wrapper {
        height: auto;
       /* Allow the height to adjust based on content */
   }
}
