* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Ambidexter';
    src: url('fonts/Ambidexter.woff') format('woff'),
         url('fonts/Ambidexter.ttf') format('truetype');
}
body {
    margin-bottom: 6vh;
    font-family: 'Lato', sans-serif;
}

.home-page-background, .website-page {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 800% 800%;
    animation: gradient 15s ease infinite;
    height: 100%;
    width: 100%;
}

/* Typography */
@font-face {
    font-family: 'Ambidexter';
    src: url('fonts/Ambidexter.woff') format('woff'),
         url('fonts/Ambidexter.ttf') format('truetype');
}

/* Navbar */
.navbar {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.menu-button img {
    max-height: 5vh;
    max-width: 100%;
}

.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000ee;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.overlay.open {
    width: 100vw;
}




.overlay a {
    position: relative;
}

.overlay a:hover::after {
    content: '';
    position: absolute;
    left: 50%; /* Center the underline */
    transform: translateX(-50%); /* Center the underline */
    bottom: -3px; /* Adjust the distance from the text */
    width: 15%; /* Set the width of the underline to 1/4 of the link width */
    height: 5px; /* Adjust the height of the underline */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    display: none;
}

.overlay a {
    padding: 1vh;
    text-decoration: none;
    font-size: 5vh;
    color: #ffffff;
    display: block;
    transition: 0.3s;

}

.overlay a:hover,
.overlay a:focus {

    height: 100%;
    
}

.overlay .closebtn {
    position: absolute;
    top: 0;
    right: 2.5vw;
    font-size: 10vh;
    cursor: pointer;
    color: #ee7752;
    animation: none; /* Remove animation property */
}
/* Section One */
.home-page-section-one {
    margin-top: 50vh;
}

.home-page-section-one .header-one {
    font-size: 7.5vh;
    color: #ffffff6e;
    text-align: left;
}

.home-page-section-one .header-two {
    font-size: 10vh;
    color: #ffffff6e;
    text-align: right;
}

.home-page-section-one h2 {
    color: #ffffff;
    text-align: right;
    font-weight: 700;
}

.home-page-section-one h4 {
    color: #ffffff;
    text-align: right;
    font-weight: 200;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.header-one h1,
.header-two h1 {
    font-size: 8vw;
    align-self: center;
    font-family: 'Ambidexter';
}

/* Section Two */
.section-two-background {
    background-color: #000000;
}

.row {
    display: flex;
    justify-content: space-between;
}

.category-box {
    flex: 1;
    background: rgb(255, 255, 255);
    border-radius: 2vh;
    margin: 5vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    padding-left: 3vh;
    padding-top: 3vh;
    padding-bottom: 30vh;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        margin: 0;
    }
}

/* Section Three */
.section-three {
    background: #000000;
    text-align: center;


}

.section-three .gradient-line {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    height: 0.5vh;
    width: 100%;
    animation: gradientMove 15s ease infinite;
    margin-top: 1vh;
    margin-bottom: 1vh;
    
}

.section-three h1 {
    color: #ffffff;
    font-size: 10vh;
    margin: 2vh 0;
    cursor: pointer;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.section-three a {
    text-decoration: none;
}

.section-three a:hover h1 {
    color: #ee7752;
    text-decoration: none;
}

.section-four {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 800% 800%;
        animation: gradient 15s ease infinite;
        height: 100%;
        width: 100%;
    }




/* Slideshow */
.content-container {
    display: flex;
    justify-content: space-between;
}





.slideshow-container {
    flex: 1;
    max-width: 50%;
    position: relative;
    margin: auto;
    border-radius: 1.5vh; /* Rounded corners */
    padding: 3vh;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    width: 100%;
    border-radius: 1.5vh; /* Rounded corners */
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.dot {
    height: 1.5vh;
    width: 1.5vh;
    margin: 0 0.2vh;
    background-color: #bbbbbb00;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #55232300;
}

/* Text Box */
.text-box {
    flex: 1;
    max-width: 50%;
    padding: 2vh;
    color: #ffffff;
    text-align: left;
}

.text-box h2{
    font-family: 'Ambidexter';
}

/* Animations */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Footer */
footer {
    background-color: #000000;
    color: #ffffff;
    height: 20vh; /* Set fixed height */
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.footer-column {
    flex: 1;
}

.footer-column.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-column.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-column h2 {
    font-size: 1.8vh;
    margin: 0;
}

.footer-column p {
    font-size: 1.4vh;
    line-height: 1.2;
    margin: 0;
}

.social-buttons {
    display: flex;
    justify-content: space-around;
    width: 25%; /* Set to a quarter of the page */
}

.social-button img {
    width: 3vh; /* Adjust the size of the icons */
    height: 3vh; /* Ensure icons are square */
}

.half-gradient-line {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    height: 0.3vh;
    width: 50%;
    animation: gradientMove 15s ease infinite;
    margin: 1vh 0;
}

.top-button {
    background-color: #ffffff;
    color: #000000;
    padding: 0.5vh 1.5vh;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    font-size: 1.2vh;
    transition: background-color 0.3s ease;
}

.top-button:hover {
    background-color: #ff3737;
}

/* Add keyframes for the gradient animation */
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% }}