* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
h1 {
    color: rgb(243, 56, 87);
}

h2 {
    color: rgb(255, 138, 158);
}

/* School Essentials section */
.school-essentials {
    margin: 20px;
    text-align: center;
}

/* List styles */
ul {
    list-style-type: none;
    line-height: 25px;
}

/* Flexbox layout for rows */
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Adjust as needed */
}

/* Box styling */
.box {
    flex: 1;
    margin: 0 10px; /* Adjust as needed for spacing between boxes */
}

/* Link styles */
a {
    color: #0d5c4c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Underline on hover */
    color: #1ba085;}
      
      .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
      }
      
      .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.overlay.open {
    width: 100%;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: none; /* Initially hide the overlay content */
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
    transition: 0.3s;}

    .overlay-content {
        text-align: center;
    }

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
    color: #818181;
}
.menu-button {
    cursor: pointer;
    width:50px;
}

.image-container {
    max-width: 50%; /* Set the desired max-width for the container */
    margin: 0; /* Center the container */
}

.image-container img {
    width: 100%; /* Make the image fill the container */
    height: 30px; /* Maintain aspect ratio */
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
    color: #818181;
}