* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('personal-website-images/websites-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; /* Ensure body takes at least the full height of the viewport */
    margin-bottom: 60px; /* Set margin at the bottom to accommodate the footer */
}
.websites{
margin: 50px;


}

.box li{

    line-height: 30px;
    
}
body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}
/* Header styles */
h1 {
    color: rgb(243, 56, 87);
}

h2 {
    color: rgb(255, 138, 158);
}

/* School Essentials section */
.school-essentials {
    margin: 20px;
    text-align: center;
}

/* List styles */
ul {
    list-style-type: none;
    line-height: 25px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Box styling */
.category-box {
    flex: 1;
    background-color: #ffdee9eb;
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px;
}

/* Media query for screens smaller than 768px (adjust as needed) */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        margin: 0; /* Stack boxes on top of each other */
    }

    .category-box {
        margin-bottom: 10px; /* Remove horizontal margin for full width */
    }

    /* Add padding and adjust font size for better mobile readability */
    .category-box h2 {
        font-size: 1.5rem; /* Adjust as needed */
        margin-bottom: 10px; /* Add space between heading and list */
    }

    .category-box ul {
        padding-left: 20px; /* Add padding to the left of the list */
    }

    .category-box li {
        font-size: 1rem; /* Adjust as needed */
    }
}
/* Link styles */
a {
    color: #0d5c4c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #1ba085;
}

/* Overlay styles */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0d5c4cf6;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay.open {
    width: 100%;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: none;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    color: #05221c;
    display: block;
    transition: 0.3s;
}

.overlay-content {
    text-align: center;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    height: 50px;
    top: 0;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
    color: #818181;
}

.menu-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-right: 20px;
}

.navbar {
    background-color: #ffe8e4;
    padding: 30px;
    display: flex;
    justify-content: flex;
    align-items: center;
}

.menu-button img {
    max-height: 50px;
    max-width: 100%;
}

.image-container {
    max-height: 30px;
    max-width: 100%;
    margin: 0;
}

.image-container img {
    width: 100%;
    height: 50px;
    background-size: contain;
}

.container {
    background-size: contain;
}

.overlay a:hover,
.overlay a:focus {
    color:  #ffe8e4;
}

.logo {
    max-height: 50px;
    max-width: 100%;
    box-align: center;
    image-orientation: unset;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin-left: auto; /* Auto margin to push the logo to the right */
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #818181;
}

footer a:hover {
    color: #f1f1f1;
}